<div id="<%= dom_id assessment %>">
  <div data-controller="tabs"
     data-tabs-active-tab-class="tab"
     data-tabs-inactive-tab-class="inactive">
    <select id="" class="sm:hidden mb-4" data-action="tabs#change">
      <option value="Tab 1">Tab 1</option>
      <option value="Tab 2">Tab 2</option>
    </select>
    <nav class="tab-nav" aria-label="Tabs">
      <a href="#"
          data-tabs-target="tab"
          data-action="click->tabs#change:prevent">
        <%= I18n.t('assessments.show.assessment_input') %>
      </a>
      <a href="#"
          data-tabs-target="tab"
          data-action="click->tabs#change:prevent">
        <%= I18n.t('assessments.show.analysis') %>
      </a>
    </nav>
    <div class="hidden" data-tabs-target="panel">
      <div class="flex flex-row">
        <div class="basis-1/3">
          <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Name</p>
              <%= assessment.name %>
            </div>
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Status</p>
              <%= assessment_label(assessment) %>
            </div>
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Created</p>
              <%= l assessment.created_at, format: :long %>
            </div>
          </div>
        </div>
        <div class="basis-2/3">
          <div class="ml-4 mb-4 p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
            <div class="flex justify-between items-center mb-4">
              <div>
                <p class="text-sm font-medium text-gray-500">Progress</p>
                <% if assessment.sow_check %>
                  <p class=" flex items-center">
                    <% if assessment.sow_check&.complete? %>
                      <%= heroicon :check_circle %>
                    <% else %>
                      <%= heroicon :empty_circle %>
                    <% end %>
                    <span class="ml-2">Statement of Work (SOW) Documents</span>
                  </p>
                <% end %>
                <% if assessment.finance_check %>
                  <p class=" flex items-center">
                    <% if assessment.finance_check&.complete? %>
                      <%= heroicon :check_circle %>
                    <% else %>
                      <%= heroicon :empty_circle %>
                    <% end %>
                    <span class="ml-2">Accounts Payable Extract</span>
                  </p>
                <% end %>
                <% if assessment.survey_check %>
                  <p class=" flex items-center">
                    <% if assessment.survey_check&.complete? %>
                      <%= heroicon :check_circle  %>
                    <% else %>
                      <%= heroicon :empty_circle %>
                    <% end %>
                    <span class="ml-2">Survey</span>
                  </p>
                <% end %>
              </div>
              <div>
                <% if assessment.submittable? %>
                  <%= button_to "Submit Assessment", assessment_path(assessment, assessment: { status: "submitted" }), 
              method: :patch,
              class: "btn btn-primary",
              form: { 
                data: { 
                  turbo_confirm: "Are you sure you want to submit this assessment? This action cannot be undone." 
                }
              } %>
                <% elsif assessment.submitted? %>
                  <p><%= render LabelComponent.new(text: I18n.t('assessments.show.assessment_submitted'), type: :warning) %></p>
                <% elsif assessment.completed? %>
                  <p><%= render LabelComponent.new(text: I18n.t('assessments.show.assessment_completed'), type: :success) %></p>
                <% else %>
                  <div class="inline-block" data-controller="tooltip" data-tippy-content="Please add to all steps before submission" data-tippy-delay="0" data-tippy-arrow="true" data-tippy-size="regular" data-tippy-animation="fade">
                    <%= button_to "Submit Assessment", nil, disabled: true, class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <%= render assessment.template_version, assessment: assessment if assessment.template_version_id %>
          <%= render assessment.sow_check if assessment.sow_check %>
          <%= render assessment.finance_check if assessment.finance_check %>
        </div>
      </div>
    </div>
    <!-- Analysis Tab -->
    <div class="hidden" data-tabs-target="panel">
      <% if assessment.in_progress? %>
        <p>
          <em><%= I18n.t('assessments.analysis.not_available') %></em>
        </p>
      <% elsif assessment.submitted? || assessment.completed? %>
        <% if assessment.file.blank? && !Current.account_user&.admin? %>
          <p style="margin-bottom:20px">
            <em><%= I18n.t('assessments.analysis.underway') %></em>
          </p>
        <% end %>
        <!-- file table -->
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3">File Name</th>
                <th scope="col" class="px-6 py-3">Size</th>
                <th scope="col" class="px-6 py-3">Upload Date</th>
              </tr>
            </thead>
            <tbody>
              <% if assessment.file.attached? %>
                <tr class="bg-white border-b">
                  <td class="px-6 py-4"><%= assessment.file.filename %></td>
                  <td class="px-6 py-4"><%= number_to_human_size(assessment.file.byte_size) %></td>
                  <td class="px-6 py-4"><%= l assessment.file.created_at, format: :long %></td>
                  <% if Current.account_user&.admin? %>
                    <td class="px-6 py-4">
                      <%= button_to assessment, 
                          params: { assessment: { remove_file: true } },
                          method: :patch,
                          form: { data: { turbo_confirm: I18n.t('assessments.show.delete_file') } },
                          class: "text-red-600 hover:text-red-900" do %>
                        <%= heroicon :trash %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% else %>
                <tr class="bg-white border-b">
                  <td colspan="4" class="px-6 py-4 text-center text-gray-500">
                    <%= I18n.t('assessments.show.no_files') %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% if Current.account_user&.admin? && assessment.file.blank? %>
        <!-- upload button and modal -->
          <div data-controller="modal">
            <button class="btn btn-secondary my-4" data-action="click->modal#open:prevent"><%= I18n.t('assessments.show.upload_analysis_file') %></button>
            <dialog class="modal modal-lg" data-modal-target="dialog" data-action="click-&gt;modal#backdropClose">
              <%= form_with(model: assessment, id: dom_id(assessment), local: false) do |form| %>
                <%= form.hidden_field :file, value: assessment.file.signed_id %>
                <div class="modal-card">
                  <button type="button" data-action="modal#close:prevent">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                      <line x1="18" x2="6" y1="6" y2="18"></line>
                      <line x1="6" x2="18" y1="6" y2="18"></line>
                    </svg>
                    <span class="sr-only"><%= I18n.t('close') %></span>
                  </button>
                  <div>
                    <h2 class="modal-title"><%= I18n.t('assessments.show.upload_analysis_file') %></h2>
                    <div class="modal-body">
                      <div class="form-group">
                        <%= form.file_field :file, direct_upload: true, class: "file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-gray-50 file:text-gray-700 hover:file:bg-gray-100" %>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-secondary" data-action="click->modal#close:prevent"><%= I18n.t('cancel') %></button>
                    <%= form.submit "Continue", class: "btn btn-primary"%>
                  </div>
                </div>
              <% end %>
            </dialog>
          </div>
        <% else %>
          <% if assessment.file.present? && !Current.account_user.admin %>
          <div style="margin-top:20px">
            <%= link_to I18n.t('assessments.show.download_analysis'), download_analysis_assessment_path(assessment), method: :get, class: "btn btn-secondary" %>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
