<div id="<%= dom_id assessment %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Name</p>
    <%= assessment.name %> <%= assessment_label(assessment) %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Created</p>
    <%= l assessment.created_at, format: :long %>
  </div>
  <% 
   show_link = action_name != "show" && 
               current_account.present? && 
               (current_account.is_parent == false)
  %>
  <% if action_name != "show" && show_link %>
    <%= link_to I18n.t('assessments.preview.view'), assessment, class: "btn btn-secondary" %>
  <% end %>
  <% if Current.account_user&.admin? && assessment.submitted? && assessment.export_bundle&.completed? %>
    <%= link_to I18n.t('assessments.preview.download'), download_bundle_assessment_path(assessment), method: :get, class: "btn btn-secondary" %>
  <% end %>
</div>
<hr>