<div id="<%= dom_id assessment %>">
  <div data-controller="tabs"
     data-tabs-active-tab-class="tab"
     data-tabs-inactive-tab-class="inactive">
    <select id="" class="sm:hidden mb-4" data-action="tabs#change">
      <option value="Tab 1">Tab 1</option>
      <option value="Tab 2">Tab 2</option>
    </select>
    <nav class="tab-nav" aria-label="Tabs">
      <a href="#"
          data-tabs-target="tab"
          data-action="click->tabs#change:prevent">
        Assessment Input
      </a>
      <a href="#"
          data-tabs-target="tab"
          data-action="click->tabs#change:prevent">
        Analysis
      </a>
    </nav>
    <div class="hidden" data-tabs-target="panel">
      <div class="flex flex-row">
        <div class="basis-1/3">
          <div class="p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Name</p>
              <%= assessment.name %>
            </div>
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Status</p>
              <%= render LabelComponent.new(text: assessment.translated_status, type: :info) %>
            </div>
            <div class="mb-4">
              <p class="text-sm font-medium text-gray-500">Created</p>
              <%= l assessment.created_at, format: :long %>
            </div>
          </div>
        </div>
        <div class="basis-2/3">
          <div class="ml-4 mb-4 p-8 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded shadow">
            <div class="flex justify-between items-center mb-4">
              <div>
                <p class="text-sm font-medium text-gray-500">Progress</p>
                <p class=" flex items-center">
                  <% if assessment.sow_check.complete? %>
                    <%= heroicon :check_circle %>
                  <% else %>
                    <%= heroicon :empty_circle %>
                  <% end %>
                  <span class="ml-2">Long Tenure SOWs</span>
                </p>
                <p class=" flex items-center">
                  <%= heroicon :empty_circle %>
                  <span class="ml-2">Finance Upload</span>
                </p>
                <p class=" flex items-center">
                  <%= heroicon :empty_circle %>
                  <span class="ml-2">Survey</span>
                </p>
              </div>
              <div>
                <% if assessment.submittable? %>
                  <%= button_to "Submit Assessment", assessment_path(assessment, assessment: { status: "completed" }), 
              method: :patch,
              class: "btn btn-primary",
              form: { 
                data: { 
                  turbo_confirm: "Are you sure you want to submit this assessment? This action cannot be undone." 
                }
              } %>
                <% else %>
                  <div class="inline-block" data-controller="tooltip" data-tippy-content="Please complete all steps before submission" data-tippy-delay="0" data-tippy-arrow="true" data-tippy-size="regular" data-tippy-animation="fade">
                    <%= button_to "Submit Assessment", nil, disabled: true, class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <%= render assessment.sow_check%>
        </div>
      </div>
    </div>
    <div class="hidden" data-tabs-target="panel">
      <% if assessment.in_progress? %>
        <p>
          Analysis is only available for completed assessments.
        </p>
      <% end %>
    </div>
  </div>
</div>
