<%= form_with(model: assessment) do |form| %>
  <%= render "error_messages", resource: form.object %>
  <div class="form-group">
    <%= form.label :name do %>
      <%= I18n.t('assessments.new.name') %> <span style="color: red;">*</span>
    <% end %>
    <%= form.text_field :name, class: "form-control", value: form.object.name || I18n.t('assessments.new.default_name') %>
  </div>
  <% unless assessment.persisted? %>
    <div class="form-group">
      <%= form.label "Included Checks" %>
      <div class="form-picker-group">
        <%= form.check_box :include_sow_check, checked: true %>
        <%= form.label :include_sow_check, "Statement of Work (SOW) Documents"%>
      </div>
      <div class="form-picker-group">
        <%= form.check_box :include_finance_check, checked: true %>
        <%= form.label :include_finance_check, "Accounts Payable Extract"%>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :template_version_id do %> 
        <%= I18n.t('assessments.new.survey_template_version') %></span>
      <% end %>
        <div class="input-group">
          <%= form.collection_select :template_version_id, 
          TemplateVersion.joins(:survey_template)
          .for_parent_account(current_account)
          .order('survey_templates.name ASC, template_versions.version_number DESC'),
          :id, 
          ->template_version { "#{template_version.survey_template.name} - #{template_version.notes}" },
          { include_blank: t('assessments.new.no_survey')},
          { class: "form-control", data: { action: "auto-submit#submit" } } %>
        </div>
    </div>

  <% end %>
  <div>
    <%= form.button button_text(form.send(:submit_default_value)), class: "btn btn-primary" %>
    <% if form.object.new_record? %>
      <%= link_to t("cancel"), assessments_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to t("cancel"), assessment_path(@assessment), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
