<%= content_for :title, "Assessments" %>
<%= turbo_stream_from :assessments %>
<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <div>
      <h1 class="h3">Assessments</h1>
      <div class="text-sm font-medium">
        <span class="text-gray-500 dark:text-gray-300/75">Sort by:</span>
        <%= sortable @assessments, :name, "Name", class: "text-gray-700 dark:text-gray-300 mr-1" %>
        <%= sortable @assessments, :created_at, "Created", class: "text-gray-700 dark:text-gray-300 mr-1" %>
      </div>
    </div>
    <% if Current.account_user&.admin? %>
      <%= link_to t("scaffold.new.title", model: "Assessment"), new_assessment_path, class: "btn btn-secondary" %>
    <% end %>
  </div>
  <%= tag.div id: ("assessments" if first_page?), class: "bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-md shadow p-6 space-y-8" do %>
    <%= render partial: "assessments/assessment_preview", collection: @assessments, as: :assessment, cached: true %>
    <% if Current.account_user&.admin? %>
      <div class="hidden only:block text-center">
        <p class="mb-4 h3">Create your first Assessment</p>
        <%= link_to t("scaffold.new.title", model: "Assessment"), new_assessment_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <% if @pagy.pages > 1 %>
    <div class="my-6 text-center">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
