<!-- Gauge Component -->
<div class="relative size-20">
  <svg class="rotate-[135deg] size-full" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
    <!-- Background Circle (Gauge) -->
    <circle cx="18" cy="18" r="16" fill="none" class="stroke-current <%= gauge_color_class %>" stroke-width="1" stroke-dasharray="75 100" stroke-linecap="round"></circle>
    <!-- Gauge Progress -->
    <circle cx="18" cy="18" r="16" fill="none" class="stroke-current  <%= progress_color_class %>" stroke-width="2" stroke-dasharray="<%= progress %> 100" stroke-linecap="round"></circle>
  </svg>
  <!-- Value Text -->
  <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
    <span class="text-2xl font-bold  <%= value_color_class %>"><%= text_label %></span>
    <span class=" <%= value_color_class %> block"><%= subtext_label %></span>
  </div>
</div>
<!-- End Gauge Component -->