<p><%= t("mailers.assessments_mailer.new_analysis.lead")%>: <%= link_to @assessment.name, assessment_url(@assessment) %>.</p>
<p><%= t('mailers.assessments_mailer.new_analysis.body') %></p>
<%= link_to I18n.t('assessments.preview.view'), assessment_url(@assessment), class: "btn btn-secondary" %>
<p><%= t('mailers.shared.regards') %>,</p>
<p><%= render "shared/mailers/sign_off", account: @parent_account %></p>