<div class="form-group">
  <%= form.label :date_format %>
  <%= form.text_field :date_format, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :min_date %>
  <%= form.date_field :min_date, class: 'form-control' %>
</div>
<div class="form-group">
  <%= form.label :max_date %>
  <%= form.date_field :max_date, class: 'form-control' %>
</div>