<div id="<%= dom_id survey_template %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500"><%= t("survey_templates.show.name") %></p>
    <%= survey_template.name %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500"><%= t("survey_templates.show.description") %></p>
    <%= survey_template.description %>
  </div>
  <% if action_name != "show" %>
    <%= link_to "View this survey template", survey_template, class: "btn btn-secondary" %>
  <% else %>
    <p class="text-sm font-medium text-gray-500"><%= t("survey_templates.show.template_versions") %></p>
    <% survey_template.template_versions.each do |tv| %>
      <div>
        <%= link_to preview_survey_template_template_version_path(tv.survey_template, tv) do %>
          <%= tv.notes %>, <%= t("survey_templates.show.created") %> <%= l tv.created_at, format: :long %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
